<html>
  <head>
    <title>Activity Test Index Page</title>
  </head>
  <body>
    <h1>Links to activity test pages</h1>
    <ul>
      <li><a href="/video-activity">Video Activity</a></li>
    </ul>
  </body>
</html>