<html>
  <head>
    <title>Video Activity</title>
    <link rel="import" href="/elements/video-activity.html">
  </head>
  <body>
    <video-activity src="{{.videoUrl}}"></video-activity>
  </body>
</html>
